{% for hot in hotsale %}
<section id="offer" class="offer_area height-700 text-center section_padding_100 bg-img" style="background-image: url({{hot.image.url}});">
    <div class="flipTimer">
        <div class="days"></div>
        <div class="hours"></div>
        <div class="minutes"></div>
        <div class="seconds"></div>
    </div>
    <div class="container h-100">
        <div class="row h-70 align-items-end justify-content-end">

            <div class="col-12 col-md-8 col-lg-6">
                <div class="offer-content-area wow fadeInUp" data-wow-delay="1s">
                    <h2>{{hot.headline}}</h2>
                    <h1 class="text-white">{{hot.title}}<span class="karl-level">Hot</span></h2>

                        <div class="offer-product-price">
                            <h3><span class="regular-price">₹{{hot.original_price}}</span>₹{{hot.offer_price}}</h3>
                        </div>
                        <a href="#" class="btn karl-btn mt-30">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endfor %}